#site-head {
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: black;
  border-bottom: 1px solid rgba(0,0,0,0.06);
}

#logo {
  min-width: 140px;
}

#sell-your-bike {
  border: 1px solid gray;
}

.custom-menu-item {
  padding: 20px;
}