#site-head {
  width: 100%;
  height: 80px;
  min-height: 80px;
  background-color: #222222;
}

.logo {
  a {
    font-size: 25px!important;
    color: #FFFFFF!important;
    font-family: 'RobotoMono' !important;
  }
}

.uk-subnav a {
  font-size: 18px;
  &.active {
    color: #C9CD18;
  }
}

.custom-menu-item {
  padding: 20px;
}